.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  width: 95%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .App {
    width: 95%;
  }
}

#root {
  min-height: 100vh;
  background: whitesmoke;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkEdit {
  text-decoration: none;
  color: black;
}

.signUpsignIn {
  margin: auto;
  height: 400px;
  width: 300px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

.card {
  padding: 36.25%;
}

.card2 {
  margin-top: 2rem;
}

.thumb {
  display: flex;
  flex-direction: row;
}

.actions-box {
  justify-content: space-between;
}

@media (max-width: 690px) {
  .mediaQ {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
